.character 
    display: flex
    background: #201a1c
    padding: 10px 15px
    max-width: 300px
    font-family: 'Roboto', sans-serif
    font-size: 18px
    box-shadow: 3px 2px 5px #0000008

    > div img 
        width: 120px
        height: 180px

    > ul 
        list-style: none
        color: #fff 
        padding-left 15px
        min-width: 160px


        li 
            font-size: 12px
            color #fff

        li span 
            font-weight: 600
            font-family: 'Arial', sans-serif
            font-size: 18px

            &.number 
                margin-top 4px
                color: #2ca02c
                float right 
            
            &.hp 
                color: #b90c0cd6 

    .health-bar 
        > p 
            color: #fff
            font-size: 13px
            margin: 0
        > div 
                position: relative
                background: #000
                width: 120px
                border-radius: 6px
                height: 10px
                border: 1px #6f0606 solid
                margin 5px 0

            span.health-left
                    content:''
                    background: #a70101
                    position absolute
                    width 100%
                    height 100%
                    border-radius: 6px