// Import all partials
@require './_*.styl'

body  
  background #000
  overflow hidden

button
  cursor: pointer

.board 
  display: flex;
  justify-content: space-around
  align-items: center
  height 100vh